@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    menu {
        display: block;
        text-align: left;
        border-top: 3px solid rgb(50, 50, 255);
        border-bottom: 3px solid rgb(50, 50, 255);
    }
    menu > ul > li {
        display: inline-block;
        margin-right: 2px;
    }
    menu > ul > li > a {
        border: none;
        background-color: rgb(35, 35, 252);
    }
    article {
        width: 700px;
    }
}